<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta author="Sebastian Łeska">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/style.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/style.css"/>
        <title>SIA - System Informowania o Awariach</title>
    </head>
<body>
    <%- include('partials/nav.ejs') %>

<!-- Content -->
<div class="container" style="padding-top:56px">


        <div>

            <!-- the actual blog post: title/author/date/content -->
            <h1 class="pt-5">Kontakt</h1>
            <div class="line"></div>

            <p class="mt-4 text-justify">
                <b><h5>CENTRALA FIRMY</h5></b></br>
                ul. Kaliskiego 21</br>
                01-476 Warszawa</br>
                tel. 261 837 553</br>
                tel. 261 837 555</br>
            </p>

            <div class="line mt-4"></div>

            <p class="mt-4 text-justify">
                <b><h4>KIEROWNICTWO</h4></b></br>
                <b><h5>FRONT-END</h5></b></br>

                Mateusz Sokolnicki - code guru</br>
                tel: +48 605 546 846</br>
                E-MAIL: mateusz.sokolnicki@student.wat.edu.pl</br></br>                

                Sebastian ŁESKA - nie ma wzroku dla grafika, koduje jak kolega poniżej czyli wcale</br>
                tel: +48 609 621 330</br>
                E-MAIL: mateusz.sokolnicki@student.wat.edu.pl</br></br>

                Janusz Sadowski (SCRUM Master) - więcej popsuł niż dodał, dodatkowo pisze nieczytelny kod, jak chciałem z nim pogadać o projekcie to spał</br>
                tel: +48 615 215 648</br>
                E-MAIL: janusz.sadowski@studen.wat.edu.pl</br></br>
            </p>

            <div class="line mt-4"></div>

            <p class="mt-4 text-justify">
                <b><h5>BACK-END</h5></b></br>
                Kamil Sokołowski</br>
                tel: +48 610 254 795</br>
                E-MAIL: kamil.sokolowski@studen.wat.edu.pl</br></br>

                Jakub Święs </br>
                tel: +48 510 123 487</br>
                E-MAIL: jakub.swies@student.wat.edu.pl</br></br>

                Piotr Kowalczyk </br>
                tel: +48 512 430 454</br>
                E-MAIL: piotr.kowalczyk01@student.wat.edu.pl</br></br>
            </p>

            <div class="line mt-4"></div>

            <p class="mt-4 text-justify">
                <b><h5>Bazy danych</h5></b></br>
                Rafał Zając</br>
                tel: +48 605 305 789</br>
                E-MAIL: rafal.zajac@studen.wat.edu.pl</br></br>

                Maciej Przbysz </br>
                tel: +48 605 546 846</br>
                E-MAIL: maciej.przbysz@student.wat.edu.pl</br></br>

                Jakub Prędota </br>
                tel: +48 509 484 445</br>
                E-MAIL: jakub.predota@student.wat.edu.pl</br></br>
            </p>
        </div>

</div>
<!-- Content-End -->


    <%- include('partials/footer.ejs') %> 
    <!-- Scripts -->
        <%- include('partials/scripts.ejs') %> 
    <!-- Scripts-End-->
</body>
</html>