.star {

    color: goldenrod;
    font-size: 1.5rem;
    padding: 0rem; /* space out the stars */
}
.star:hover {
        content: '\2605';
        color: red;
}
.star::before {
    content: '\2606'; /* star outline */
    cursor: pointer;
}

    .star.rated::before {
        
        content: '\2605'; /* filled star */
    }

.stars {
    counter-reset: rateme 0;
    font-size: 1.5rem;
    font-weight: 900;
}

.star.rated {

    counter-increment: rateme 1;
}

