<div class="jumbotron">
    <div class="bg-image"></div>
    <div id="pattern"></div>
    <div class="container">
      <h1 class="display-3">
        S<span style="font-size: 38px">ystem</span>
        I<span style="font-size: 38px">nformowania</span>
        <span style="font-size: 38px">o</span>
        A<span style="font-size: 38px">wariach</span>
      </h1>
        <p class="jumbotron-txt">Za pośrednictwem tej strony możesz zgłosić awarię w twoim mieście. Wypełnij odpowiedni formularz i poinformuj nas o zaistniałej sytuacji.</p>
        <p>Aby to uczynić musisz się pierw zalogować</a></p>
    </div>
  </div>