<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            S<span class="small-size">ystem</span>
            I<span class="small-size">nformowania</span>
            <span class="small-size">o</span>
            A<span class="small-size">wariach</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Zgłoszenia</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/list-incidents">Przeglądaj zgłoszenia</a>
                           
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-panel/login">Log in</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Registration</a>
              </li>
            </ul>
        </div>
    </div>
</nav>